{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": "sever={{YOUR HOST}};database={{YOUR DATABASE}};user={{YOUR USER}};password={{YOUR PASSWORD}};"
  }
}
